files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
*.swp
*.out
*.pyc

#IDE files to ignore (Netbeans, Eclipse)
nbproject/private/
TODO.txt
.classpath
.project
.settings
.pydevproject

